<div ng-class="row">
    <div class="jumbotron">
        <h1>Setup</h1>
        <p>This is where the small business owner logins into the administration site to connect their storefront to
            QuickBooks and to sync data.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="#/settings">Go to Setup Page</a></p>
    </div>
</div>
<div ng-class="row">
    <div class="jumbotron">
        <h1>Storefront</h1>
        <p>This is where customers shop the store's catalog and make purchases.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="#/storefront">Go to Storefront</a></p>
    </div>
</div>