<div ng-class="row">
    <div ng-class="row">
        <div class="container col-md-6">
            <h3>Step 1a: Connect To QuickBooks Online</h3>
            <div ng-show="showConnectButton()" id="connect-to-qbo-div">
                <p>{{model.company.name}} is not connected to QuickBooks Online.</p>
                <ipp:connectToIntuit></ipp:connectToIntuit>
            </div>
            <div ng-show="!showConnectButton()" id="disconnect-from-qbo-div">
                <p>{{model.company.name}} is connected to QuickBooks Online.</p>
            </div>
        </div>
        <div class="container col-md-6 voffset4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Developer Note:</h3>
                </div>
                <div class="panel-body">
                    <p>
                        An app needs permission to access the Quickbooks data for a company.
                        The Small Business owner using the E-Commerce site <b> you built</b>
                        uses this button to give permission. This button is powered by including the javascript file:
                        <code>https://js.appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js</code>
                    </p>
                    <h4>See it in the code:</h4>
                    Server Side:
                    <pre>com.intuit.developer.sampleapp.ecommerce.controllers.OAuthController</pre>
                    Client Side:
                    <pre>public/js/partials/settings.html</pre>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="row">
        <div class="container col-md-6">
            <h3>Step 1b: Sync your app data with QuickBooks Online</h3>

            <div class="col-md-10">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Entity Type</th>
                        <th>Description</th>
                        <th>Action</th>
                        <th>Status</th>
                        <th>See in QBO</th>
                    </tr>
                    <tr>
                        <td>Customers</td>
                        <td>Create entries in QuickBooks for the customers that have already signed up on this site.</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm"
                                    ng-disabled="disableCustomersSyncButton()"
                                    ng-click="syncCustomers()">
                                <span class="glyphicon glyphicon-transfer"></span> Sync
                            </button>
                        </td>
                        <td>
                            <div ng-show="loadingCustomers" class="spinner small"></div>
                            <span>{{syncCustomersMessage}}</span>
                        </td>
                        <td>
                            <a ng-show="disableCustomersSyncButton()"
                               ng-href="https://qa.qbo.intuit.com/login?pagereq=customers&deeplinkcompanyid={{model.company.qboId}}">See Customers</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Sales Items</td>
                        <td>Create Items in QuickBooks for the Sales Items that are already on this site.</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm"
                                    ng-disabled="disableSalesItemsSyncButton()"
                                    ng-click="syncSalesItems()">
                                <span class="glyphicon glyphicon-transfer"></span> Sync
                            </button>
                        </td>
                        <td>
                            <div ng-show="loadingSalesItems" class="spinner small"></div>
                            <span>{{syncSalesItemMessage}}</span>
                        </td>
                        <td>
                            <a ng-show="disableCustomersSyncButton()"
                               ng-href="https://qa.qbo.intuit.com/login?pagereq=items&deeplinkcompanyid={{model.company.qboId}}">See Items</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="container col-md-6 voffset4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Developer Note:</h3>
                </div>
                <div class="panel-body">
                    <p>
                        You've already populated this app's database with items for sales and customer accounts.
                        But these may not exist in QuickBooks, so the Small Business owner manually syncs this data to
                        QuickBooks after signing up for the first time.
                     </p>
                    <h6>See it in the code:</h6>
                    <pre>com.intuit.developer.sampleapp.ecommerce.controllers.SyncRequestController</pre>
                </div>
            </div>
        </div>
    </div>
</div>