<div ng-switch="shoppingCartView">
    <div class="container" ng-switch-when="Review">
        <table class="table ">
            <thead>
            <tr>
                <th></th>
                <th>Item</th>
                <th style="text-align: right">Quantity</th>
                <th style="text-align: right">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in model.shoppingCartItems">
                <td><img ng-src="../app/assets/Thumb-{{item.salesItem.imageFile}}" alt=""></td>
                <td>{{item.salesItem.name}}<br>{{item.salesItem.description}}</td>
                <td align="right">{{item.quantity}}</td>
                <td align="right">{{item.salesItem.unitPrice | currency}}</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <div class="container-fluid">
            <h5 class="col-sm-2">Subtotal</h5>
            <h5 class="pull-right" style="text-align: right">{{model.shoppingCart.subTotal | currency}}</h5>
        </div>
        <div class="container-fluid">
            <h5 class="col-sm-2">Promotion - 20%</h5>
            <h5 class="pull-right" style="text-align: right">{{model.shoppingCart.promotionSavings | currency}}</h5>
        </div>
        <div class="container-fluid">
            <h5 class="col-sm-2">Total</h5>
            <h5 class="pull-right" style="text-align: right">{{model.shoppingCart.total | currency}}</h5>
        </div>
        <hr/>
        <div class="container-fluid">
            <button type="button" class="btn btn-default col-sm-2 pull-right" ng-click="showView('Checkout')">
                Proceed to Checkout >>
            </button>
        </div>
    </div>

    <div class="container" ng-switch-when="Checkout">
        <div class="container">
            <form class="form-horizontal" role="form" ng-submit="submitCharge()">
                <h4>Credit Card Information</h4>
                <div id="creditCardInformation" class="form-group">
                    <label class="control-label col-sm-2 pull-left">Credit Card No.</label>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="{{creditCard.number}}" ng-disabled="true" >
                    </div>
                    <label class="control-label pull-left">CVC</label>
                    <div class="col-sm-1">
                        <input class="form-control" placeholder="{{creditCard.CVC}}" ng-disabled="true">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label pull-left">Expiration Date</label>

                    <div class="col-sm-2">
                        <input class="form-control" placeholder="{{creditCard.expMonth}}" ng-disabled="true">
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" placeholder="{{creditCard.expYear}}" ng-disabled="true">
                    </div>
                </div>
                <hr>

                <h4>Billing and Shipping Information</h4>
                <div class="form-group">
                    <label class="col-sm-2 control-label pull-left">Name</label>

                    <div class="col-sm-4">
                        <input class="form-control" placeholder="John Smith" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label pull-left">Address</label>

                    <div class="col-sm-4">
                        <input class="form-control" placeholder="2632 Marine Way" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label pull-left">City, State, Zip</label>

                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Mountain View, CA 91534" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label pull-left">Email</label>

                    <div class="col-sm-4">
                        <input class="form-control" placeholder="john_smith@intuit.com" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label pull-left">Phone</label>

                    <div class="col-sm-4">
                        <input class="form-control" placeholder="555-555-5555" ng-disabled="true">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 pull-left">Subtotal</label>

                    <div class="col-sm-1 pull-right">
                        <h5 style="text-align: right">{{model.shoppingCart.subTotal | currency}}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-6 pull-left">Promotional Discount</label>

                    <div class="col-sm-1 pull-right">
                        <h5 style="text-align: right">-{{model.shoppingCart.promotionSavings | currency}}</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 pull-left">Shipping</label>

                    <div class="col-sm-1 pull-right">
                        <h5 style="text-align: right">{{model.shoppingCart.shipping | currency}}</h5>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 pull-left">Total</label>

                    <div class="col-sm-1 pull-right">
                        <h5 style="text-align: right">{{model.shoppingCart.total | currency}}</h5>
                    </div>
                </div>
                <hr>
                <button type="button" class="btn btn-default pull-left" ng-click="showView('Review')"><< Cancel</button>
                <button type="button" class="btn btn-default pull-right" ng-click="placeOrder()">Submit Order</button>
            </form>
        </div>

    </div>
</div>