/* app css stylesheet */

/* push the body down so the navbar doesnt hide anything */
body { padding-top: 70px; }

/* required for angular-ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* SpiffyGif: http://spiffygif.com */
.spinner {
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%; /* Rounds out the halo */
    opacity: .7; /* Some subtle opacity to help blend with variable background colors */
}
.spinner.small {
    height: 30px; width: 30px;
    background: url("../assets/spiffygif_30x30.gif");
}

.spinner.large {
    height: 138px; width: 138px;
    background: url("../assets/spiffygif_138x138.gif") no-repeat center;
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}